.list-item {
    cursor: pointer;
    padding: 5px;
}

    .list-item h4 {
        font-weight: bold;
        margin: 0;
        padding: 0;
    }

    .list-item p {
        margin: 0;
        margin-top: 10px;
        font-weight: 500;
    }
